@import-normalize;
@import "../src/common/scss-blocks/_vars/vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html {
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 0;
}

p{
  margin: 0;
}
li{
  list-style: none;
}

a{
  text-decoration: none;
}
input{
  outline: none;
}

.content {
  grid-area: c;
  background-color: $main-color;
  .container {
    min-height: 100vh;
    margin: 8em;
  } 
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 40px 100%;
  grid-template-areas: 
    "s h"
    "s c";
}


