@import-normalize;
@import "../src/common/scss-blocks/_vars/vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
  font-size: calc(1vw + .1.5em);
  box-sizing: border-box;
}

*,
::after,
::before
{
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}
body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
input{
  outline: none;
}
.content {
  grid-area: mainContent;
  background-color: $white;
  .container {
    min-height: 100vh;
    margin: 8em;
  } 
}

.wrapper {
  display: grid;
  grid-template-columns: 176px 1fr 300px;
  grid-template-rows: 50px 100%;
  grid-template-areas: 
    "header header header"
    "navbar mainContent sidebar";
}


