@import "../_vars/vars.scss";

.s {
  .nav{
    color: $white;
    text-decoration: none;
    
    margin-left: 2em;
    padding: 14px 10px 15px;

    font-size: 1.4rem;

    &:hover{
    background-color: $effect;
    transition:  background-color .2s linear;
    }
  }
  .nav:last-child {
    margin-left: 13em;
    }
}