@import "../_vars/vars.scss";
@import "../_mixins/mixins.scss";

.globalSearch, .postsSearch {
  width: 20%;
  padding: 14px 12px 20px ;
  @include fieldEnter($primary-color,1.2rem);

  &::placeholder{
    color:$second-gray;
    opacity: .6;
  }
}

.globalSearch{
  height: 100vw;
}
.postsSearch{
  margin-left: 2em;
  height: 1px;
}