@import "../../common/scss-blocks/_vars/vars.scss";
@import "../../common//scss-blocks/_mixins/mixins.scss";

.wrapper{
  margin-top: $marTop;
  padding: 1.5rem 2rem;

  background-color: $secondary-color;

  @include boxshadow(0, 15px, 25px, 0, #0000, .45);

  border-radius: 5px;
  textarea{
    display: block;
    width: 87%;

    @include fieldEnter(transparent, 1.5rem);
    resize: none;

    color:$white;

    &::placeholder{
      color:$second-gray;
      opacity: .9;
    }
  }

  .editeTitleTextarea{
    display: block;
    margin-bottom: 1.5rem;
    width: 87%;
    @include boundaries();
    &::placeholder{
      color:$second-gray;
      opacity: .5;
      font-weight: 600;
      font-size: 1.4em;
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    .editeContentTextarea{
      //background-color: crimson;
      display: block;
      width: 45em;
      height: 20px;

      &::placeholder{
        color:$second-gray;
        opacity: .5;
        font-family: inherit;
        font-size: 1.1em;
      }
    }
  }
  p{
    text-align: center;
    margin-bottom: 1.5em;
  }
  .flexBtn{
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
  }
}