@import "../../common/scss-blocks/_vars/vars.scss";
@import "../../common//scss-blocks/_mixins/mixins.scss";

.parrent{
  position: relative;
  .svgBtn{
    background: none;
    border: none;
    height: 0;
    .iconMore {
      display: block;
      width: 1.2em;
      height: 1.2em;
      fill: $tagColor;
      &:hover{ 
        cursor: pointer;
        fill: $effect
      }
    }
  }
  .contentOption{
  display: flex;
  flex-direction: column;  
  position: absolute;
  top: 30px;
  left: 28px;
  
  max-height: 25em;
  padding: 1em;
  border-radius: 3px;

  background: $white;

  overflow-y: auto;
  }

  .btnOption{
    background: none;
    border: none;
    padding: .9em;
    &:hover {
      cursor: pointer;
      background-color: $effect;
      transition:  background-color .2s linear;
      }
  }
}



