@import "../scss-blocks/_mixins/mixins.scss";
@import "../scss-blocks/_vars/vars.scss";

.request{
  @include btn (5px, 0.66em, 1.25em);
  color:$white;
  @include bxshad($btnBlue);
}
.modal{
  @include btn (50%, 0.1em, 0.1em);
  color:$primary-color;
  @include bxshad($effect);
}
.css{
  margin-right: 2em;
  @include btn (5px, 0.66em, 1.25em);
  color:$white;
  @include bxshad(#0077b6);
}

.javascript{
  margin-right: 2em;
  @include btn (5px, 0.66em, 1.25em);
  color:$white;
  @include bxshad(#ffc300);
}

.react{
  margin-right: 2em;
  @include btn (5px, 0.66em, 1.25em);
  color:$white;
  @include bxshad(#2ec4b6);
}

.other{
  margin-right: 2em;
  @include btn (5px, 0.66em, 1.25em);
  color:$white;
  @include bxshad(#ffb5a7);
}

