@import "../../../common/scss-blocks/_mixins/mixins.scss";
@import "../../../common/scss-blocks/_vars/vars.scss";

.pageNav{ 
  display: flex;
  justify-content: center;

  margin-top: 6rem;
  .pageItem{
    margin: .6rem;
  }
  .pageLink, .activePage{
    display: block;
    width: 40px;
    height: 40px;

    background-color: $header;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(#000, .15);

    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;
    text-align: center;
    text-decoration: none;

    transition: background-color .2s linear;

    &:hover {
      background-color: lighten($color: $header, $amount: 2%);
      cursor: pointer;
    }
    &.activePage {
      background-color: $btnBlue;
      box-shadow: 0 0 10px rgba($blue, .15);
    }
  }
}