@import "../scss-blocks/_vars/vars.scss";
@import "../scss-blocks/_mixins/mixins.scss";

.heading{
 @include descriptions($white, 1.8rem, 600, center) 
}

.titleArticle {
  @include descriptions($white, 1.8rem, 600, left) 

}
.newParagraph{
  padding: .8em 0;
}
.subTitleArticle, .subTitleNotes {
  @include descriptions($gray, 1.4rem, 300, left);
  line-height: 1.8;
}
.subTitleArticle:first-child , .subTitleNotes:first-child{
  padding-top: 4em;
}

.about{
  @include descriptions($gray, 1.4rem, 300, center) 
}

