@import "../../common/scss-blocks/_vars/vars.scss";
@import "../../common/scss-blocks/_mixins/mixins.scss";

.title{
  @include title()
}

.profileWrapper{
  display: flex;
  .field{
    width: 45rem;
    margin-right: 20rem;
  }
  
  label {
    margin-left: 1.6rem;
    font-size: 1.4rem;
    color:$blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover{
      text-decoration: none;
    }
    input{
      display: none;
      color:$blue;
    }
  }
}