@import "../_vars/vars.scss";
@import "../_mixins/mixins.scss";

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-height: 7em;
  .topLine{
    @include status-border(100%);
    border-top: 1px solid $gray;
  
  }
  .editIcon{
    display: none;
    width: 1.2em;
    height: 1.2em;

    position: absolute;
    top:-.6em;
    right: 1em
  }
  .editField:placeholder{
    font-size: .875em;
  }
  .bottomLine{
    @include status-border(100%);
    border-bottom: 1px solid $gray;
  }

  .form{
    display: flex;
    flex-direction: column;
    padding: 2em;
    .fieldStatus{
      width: 10em;
      
    }
  }
}
.wrapper:hover{
  .topLine{
    @include status-border(80%);
    margin-right:2.4em;
    transition: .5s all;
    
  }
  .editIcon{
    display: inline-block;
    transition: .5s all;
  }
 
}
