@import "../_vars/vars.scss";
@import "../_mixins/mixins.scss";


.btnWrapper{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  .work, .feedback {
    @include btn(.25em, .321em, 2.929em);
    a {
      text-decoration: none;
      color:$white;
    }
  }
  .work{
    @include bxshad(#CD251A);
    margin-bottom: .5em;
  }
    
  .feedback{
    @include bxshad($btnBlue)
  }

}


