@import "../_vars/vars.scss";
@import "../_mixins/mixins.scss";

.sidebar {
  grid-area: sidebar;
  width: 14.375em;
  @include boxshadow(1px, 0, 15px, 0, #050505, .1);
  background-image: linear-gradient(to bottom, rgb(235,235,235), rgb(207,211,215));
  .sidebarArticle{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
  }
  .container{
    margin: 0 1.25em;
  }

  .authorInfo{
    margin-top: 1em;
  }
}