@import "../_vars/vars.scss";

.socialWrapper{
  display: flex;
  margin: 2.5em 0;

  .telegram, .instagram, .github, .linkedin{
    width: 2em;
    height: 2em;
  }
  .telegram,.linkedin {
    color: $btnBlue;
  }
  .telegram:hover, .linkedin:hover {
    color: $blue;
  }
}
.socialWrapper .socialIcon:not(:first-child) {
  padding-left: .625em;
}