@import "../../../common/scss-blocks/_vars/vars.scss";
@import "../../../common/scss-blocks/_mixins/mixins.scss";

.wrapperReference{
  border-bottom: 1.5px solid $tagColor;  
  border-top: 1.5px solid $tagColor;
  margin: 2.5em 0;
  @include boundaries();
  
  .title{
   @include titleH3();
   padding: 1em 0; 
  }

  .list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5em;
    .listItem{
      h4{
        width: 19.286em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .875rem;
      }
      a{
        color: $gray;
        cursor: pointer;
        &:hover{
         color: $secondary-color;
        }
      }
    }
  }
  
}