@import "../../../common/scss-blocks/_vars/vars.scss";
@import "../../../common/scss-blocks/_mixins/mixins.scss";


.comments{
  margin-top: 5rem;
  .header {
    display: flex;
    margin-bottom: 1.5rem;
    .author{
      flex-grow: 1;
      padding-left: 1.5rem;
    }
    .name{
      font-weight: 600;
    }
    .date{
      color:$tagColor;
    }
  }
  .text{
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
}


