
/*background*/
$main-color: #181818FF;
$primary-color: #202020;
$secondary-color: #121212;
$header: #0D0D0D;

/* color */
$white: #ffff;
$gray: #DEDEDE;
$btnBlue: #2A5FE7;
$second-gray:#d2d2d2;
$tagColor: #828282;

/* margin, padding */
$marTop: 3em;
$padContent: 2.5rem;

/*font*/
$headingFS: 1.8rem;

