
/*background*/
$main-color: #181818FF;
$primary-color: #202020;
$secondary-color: #121212;
$header: #0D0D0D;

/* color */
$white: #ffff;
$gray: rgba(#DEDEDE, .6);
$btnBlue: #2A5FE7;
$blue: #107EFF;
$second-gray:#d2d2d2;
$tagColor: #828282;
$effect: #ffbd00;
$gold: #EA8C1E;

/* margin, padding */
$marTop: 3em;
$padContentPost: 2.5rem;
$padContentText: 1.5rem 2.5rem;

/*font*/
$headingFS: 1.8rem;
$Loto: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;
