@import-normalize;
@import "../src/common/scss-blocks/_vars/vars.scss";



html {
  font-size: 62.5%;
}

body{
  /*font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Grig */
/*.sidebar {
  grid-area: s;
  background-color: $primary-color;
}
.header {
  grid-area: h;
}*/
.content {
  grid-area: c;
  background-color: $main-color;
  .container {
    margin: 8em;
  } 
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 40px 100%;
  grid-template-areas: 
    "s h"
    "s c";
}


