@import-normalize;
@import "../src/common/scss-blocks/vars/vars.scss";



html {
  font-size: 62.5%;
}

body{
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.6rem;
}


/* Grig */
.sidebar {
  grid-area: s;
}

.header {
  grid-area: h;
}
.content {
  grid-area: c;
  background-color: $main-color;
  .container {
    margin: 5em;
  } 
}

.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 40px 1866px;
  grid-template-areas: 
    "s h"
    "s c";
}


