@import "../scss-blocks/_vars/vars.scss";
@import "../scss-blocks/_mixins/mixins.scss";

.title{
  @include titleH3;
  padding-bottom: .5em;
 }
 
.form{
  .formGroup{
    position: relative;
    .formControl{

      @include field();
      &:focus + .formLine{
        width:100%;
      }
      &::placeholder{
        font-size: 1rem;
        color: $gray;
      }
    }
    }
    .formLine{
      width: 0;
      height: 1px;
      background-color: $btnBlue;

      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;

      transition: width .2s linear;

   }
  } 
