@import "./_vars/vars.scss";
@import "./_mixins/mixins.scss";


.text{
  width: 23em;
  padding: 1em 0;
  letter-spacing: .1em;
  @include descriptions($gray, .875rem, 600, center)
}

.about{
  font-size: .875rem;
  color: $gray;
  opacity: .6;
  letter-spacing: .08em;
}


.heading:after{
  display: inline-block;
  content: "\25CF";
  color: rgba(112, 204, 22, 1);
  padding-bottom: .219em;
}