@import "./_vars/vars.scss";
@import "./_mixins/mixins.scss";


.text{
  width: 23em;
  padding: 1em 0;
  letter-spacing: .1em;
  @include descriptions($gray, .875rem, 600, center)
}

.about{
  font-size: .875rem;
  color: $gray;
  opacity: .6;
  letter-spacing: .08em;
}

.heading{
  font-size: 1rem;
}
.heading:after{
  display: inline-block;
  content: "\25CF";
  color: rgba(112, 204, 22, 1);
  padding-left: .219em;
}

.titleArticle{
  font-size: 1.25rem;
  padding-bottom: .8em;
}

.subTitleArticle, .subTitleArticleText{
  font-size: .875rem;
  color: $text-color
}

.subTitleArticle{
  padding: 1.071em 0;
}
.subTitleArticleText{
  padding-bottom: 1.071em;
}
