@import "../_vars/vars.scss";
@import "../_mixins/mixins.scss";

.tagsFooter{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .tags{
    padding-bottom: 2em;
    margin-top: -2em;
  }
  .link {
    font-size: 1.4rem;
    color: $blue;
    @include link ()
  } 
  .date{
    @include dotTags(#C4C4C4);
  }
  .date, .category, .datePublic{
    @include tags($Loto);
  }
  .category{
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.works{
  display: flex;
  flex-direction: column;
  .workTags{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
    li{
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: .4rem .9rem;
  
      background-color: $gold;
      border-radius: 3px;
      font-size: 1.1rem;
      text-align: center;
    }
  }
  .footer{
    margin-top: auto;
    text-align: right;
  }
}

.tagsWrapperPosts{
  margin-top: 4rem;
}