@import "../_vars/vars.scss";
@import "../_mixins/mixins.scss";

.tagsFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tags{
    display: flex;
  }
  .iconTimeWrap{
    padding-top: .15em;
    padding-right: .15em;
  }
  .iconLikeWrap{
    display: inline-block;
    padding: 0 .2em;
  }
  .like{
    border: 1px solid #50C878;
    border-radius: 3px;
    padding: .3em;
    margin-left: 15em;
    margin-right: .3em;
  }
  .iconLike{
    padding: .04em;
    padding-top: .13em;
  }
  .counterLike, .link{
    font-size: 0.875rem;
  }
  .counterLike{
    padding: .1em .3em;
  }

  .link {
    color: $blue;
    &:hover{
      color: $btnBlue;
    }
  } 
  .date{
    font-size: .75rem;
    @include dotTags(#C4C4C4);
  }
  .date, .category, .datePublic{
    @include tags($Loto);
  }
  .category{
    &:hover {
      cursor: pointer;
    }
  }
}

.works{
  display: flex;
  flex-direction: column;
  .workTags{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
    li{
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: .4rem .9rem;
  
      background-color: $gold;
      border-radius: 3px;
      font-size: 1.1rem;
      text-align: center;
    }
  }
  .footer{
    margin-top: auto;
    text-align: right;
  }
}

.tagsWrapperPosts{
  margin-top: 4rem;
}